{% extends "backend/plantilla.html" %}

{% block titulo %}Eventos{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}back/css/notifications.css"/>
{% endblock %}

{% block contenido %}
<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="fa fa-calendar"></i>Eventos<br><small>Gestión de los eventos</small>
        </h1>
    </div>
</div>
<ul class="breadcrumb breadcrumb-top">
    <li><a href="/admin">Principal</a></li>
    <li><a href="">Eventos</a></li>
</ul>

<div class="block full">
    <div class="block-title">
        <h2><strong>Eventos</strong></h2>
    </div>
    <div id="grid"></div>
</div>
&nbsp;
<span id="notification" style="display:none;"></span>

<script id="errorTemplate" type="text/x-kendo-template">
    <div class="wrong-pass">
        <img src="{{ STATIC_URL }}back/img/error-icon.png" />
        <h3><b>#= title #</b></h3>
        <p>#= message #</p>
    </div>
</script>

<script id="successTemplate" type="text/x-kendo-template">
    <div class="success">
        <img src="{{ STATIC_URL }}back/img/success-icon.png" />
        <h3><b>#= title #</b></h3>
        <p>#= message #</p>
    </div>
</script>

<script type="text/x-kendo-template" id="template">
    <div class="toolbar">
        <a class="k-button" href="#" id="toolbar-add_user" onclick="">Nueva oferta</a>
    </div>
</script>

<script id="rowTemplate" type="text/x-kendo-tmpl">
    <tr data-uid="#: id #">
        <td>
           <img src="{{ IMG_URL }}ofertas/#: imagen #.png" alt="avatar" class="img-circle">
           &nbsp; #: nombre #
        </td>
        <td>
            #= kendo.toString(inicio, "dd/MM/yyyy HH:mm")#
        </td>
        <td>
            #= kendo.toString(fin, "dd/MM/yyyy HH:mm")#
        </td>
        <td>
            <a class="k-button k-button-icontext k-grid-edit" href="/admin/editaroferta/#= id #"><span class="k-icon k-edit"></span>Editar</a>
            <a class="k-button k-button-icontext k-grid-delete" href="/admin/eliminaroferta/#= id #"><span class="k-icon k-delete"></span>Eliminar</a>
        </td>
   </tr>
</script>
{% endblock %}

{% block scripts %}
    <script src="{{ STATIC_URL }}back/js/pages/eventos.js"></script>
    <script>
        $(function(){ Ofertas.init("{{ csrftoken }}", "{{ usuario.TI }}"); });
    </script>
{% endblock %}